html {
    background-color: #2f3542;
}

header {
    /* background-color: #7bed9f; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: whitesmoke;
    margin-top: 20px;
    cursor: pointer;
}

h1.Main {
    border: 5px solid #a4b0be;
    padding: 15px 200px 15px 200px;
    margin-right: 20px;
}

h1.category {
    margin: 30px 0px 0px 30px;
}

article {
    display: flex;
    margin-top: 20px;
}

div.part {
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 270px;
    border: 3px dashed #a4b0be;
    margin-left: 15px;
    color: whitesmoke;
}

ul {
    list-style: none;
    padding-left: 10px;
}

button.check {
    height: 20px;
    width: 25px;
    font-size: 15px;
    font-weight: bolder;
    color: green;
    text-align: center;
    cursor: pointer;
}

span.note_font {
    font-size: 20px;
}

div.main {
    width: 90%;
    margin: 20px 20px 20px 20px;
    color: whitesmoke;
}

h1.main_category {
    font-size: 50px;
}

span.main {
    font-size: 25px;
}

p.main {
    font-size: 20px;
    margin-left: 50px;
}

div.add {
    margin: 20px 20px 20px 20px;
}

footer {
    width: 875px;
    border: 3px dashed #a4b0be;
    margin: 15px 15px 15px 15px;
}