<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="Main">My WishList</h1>
        <div>
        {% if not isLogin %}
        <button onClick="location.href='/login'">Sign In</button>
        <button onClick="location.href='/register'">Register</button>
        {% else %}
        <button onClick="location.href='/logout'">Log Out</button>
        {% endif %}
        </div>
    </header>

    <article>
        <div class="part" id="part0">
        <h1 class="category" onClick="swap(0)">Life</h1>
        <ul>
        {% for note in notes %}
            {% if note['category'] == 0 %}
                <li>
                    <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                    <span class="note_font">
                        {{ note['summary'] }}
                    </span>
                </li>
            {% endif %}
        {% endfor %}
        </ul>    
        </div>
        
        <div class="part" id="part1">
        <h1 class="category" onClick="swap(1)">Year</h1>
        <ul>
        {% for note in notes %}
            {% if note['category'] == 1 %}
                <li>
                    <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                    <span class="note_font">
                        {{ note['summary'] }}
                    </span>                
                </li>
            {% endif %}
        {% endfor %}
        </ul>    
        </div>
    
        <div class="part" id="part2">
        <h1 class="category" onClick="swap(2)">Month</h1>
        <ul>
        {% for note in notes %}
            {% if note['category'] == 2 %}
                <li>
                    <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                    <span class="note_font">
                        {{ note['summary'] }}
                    </span>
                </li>
            {% endif %}
        {% endfor %}
        </ul>  
        </div>
        
        <div class="part" id="part3">
        <h1 class="category" onClick="swap(3)">Week</h1>
        <ul>
        {% for note in notes %}
            {% if note['category'] == 3 %}
                <li>
                    <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                    <span class="note_font">
                        {{ note['summary'] }}
                    </span>
                </li>
            {% endif %}
        {% endfor %}  
        </ul>    
        </div>
    
        <div class="part" id="part4" style="display:none">
            <h1 class="category" onClick="swap(4)">Today!</h1>
            <ul>
            {% for note in notes %}
                {% if note['category'] == 4 %}
                    <li>
                        <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                        <span class="note_font">
                            {{ note['summary'] }}
                        </span>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </article>


    <footer>
    <div class="main" id="main0" style="display:none">
        <h1 class="main_category">Life!</h1>
        <ul>
            {% for note in notes %}
                {% if note['category'] == 0 %}
                    <li>
                        <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                        <span class="main">
                            {{ note['summary'] }}
                        </span>
                        <p class="main">
                            {{ note['detail'] }}
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>    
    <div class="main" id="main1" style="display:none">
        <h1 class="main_category">Year!</h1>
        <ul>
            {% for note in notes %}
                {% if note['category'] == 1 %}
                    <li>
                        <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                        <span class="main">
                            {{ note['summary'] }}
                        </span>
                        <p class="main">
                            {{ note['detail'] }}
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="main" id="main2" style="display:none">
        <h1 class="main_category">Month!</h1>
        <ul>
            {% for note in notes %}
                {% if note['category'] == 2 %}
                    <li>
                        <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                        <span class="main">
                            {{ note['summary'] }}
                        </span>
                        <p class="main">
                            {{ note['detail'] }}
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="main" id="main3" style="display:none">
        <h1 class="main_category">Week!</h1>
        <ul>
                {% for note in notes %}
                    {% if note['category'] == 3 %}
                        <li>
                            <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                            <span class="main">
                                {{ note['summary'] }}
                            </span>
                            <p class="main">
                                {{ note['detail'] }}
                            </p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>

    <div class="main" id="main4" style="display:block">
       <h1 class="main_category">Today!</h1>
       <ul>
            {% for note in notes %}
                {% if note['category'] == 4 %}
                    <li>
                        <button class="check" onClick="check_click({{ note['id'] }})">✔</button>
                        <span class="main">
                            {{ note['summary'] }}
                        </span>
                        <p class="main">
                            {{ note['detail'] }}
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul> 
    </div>
    
    <div class="add">
        <form name="addSchedule" method="post" action="{{ url_for('update', id=4) }}">  
            <label for="summary">Summary</label>
            <input type="text" class="" name="summary">
            <label for="detail">Detail</label>
            <input type="text" class="" name="detail">
            <input type="submit" value="add">
        </form>
    </div>
    </footer>
    
    <script>
    var divlist = [0,1,2,3,4]
    var x = 0;
    function div_align(){
        console.log(divlist)
        for (var i of divlist){
            var obj1 = document.getElementById('part'+(i));
            obj1.style.display = "block";
            var obj2 = document.getElementById('main'+(i));
            obj2.style.display = "none";
        }
    }
    
    function swap(order=4){
        const idx = divlist.indexOf(order);
        divlist.splice(idx, 1);
        divlist.sort();
        document.getElementById('part'+order).style.display = "none";
        document.getElementById('main'+order).style.display = "block";
        
        div_align();
        divlist.push(order);
        var addForm = document.getElementsByName('addSchedule')[0];
        addForm.action = addForm.action.substring(0, addForm.action.length-1) + order;
        console.log(addForm.action);
    }

    function check_click(id){
        console.log('check'+id)
        location.href = "/delete/"+(id)
    }
    </script>
</body>
</html>
<!-- 현재 제작 중인 테스트 사이트이므로 저장한 사용자의 데이터를 온전히 보장할 수 없습니다. -->